.ant-btn-primary[disabled], .ant-btn-primary[disabled]:active, .ant-btn-primary[disabled]:focus, .ant-btn-primary[disabled]:hover{
  background: #C1C4FF;
  border-color: #C1C4FF;
  color: #FFFFFF;
}
.ant-btn-background-ghost{
  border-radius: 5px;
  border-width: 1px;
}
.ant-btn-background-ghost.ant-btn-primary{
  background-color: #F6F7FF;
}
.ant-btn-primary.ant-btn-background-ghost:not(:disabled):hover{
  background-color: #E7E8FF;
  color: #484FFF;
  border-color: #484FFF;
}
.ant-btn-primary.ant-btn-background-ghost{
  color: #484FFF;
  border-color: #484FFF;
}
.ant-btn-primary{
  background-color: #484FFF;
}
.ant-btn-primary:not(:disabled):hover{
  background-color: #6C73FF;
}
.ant-btn-primary:not(:disabled):active{
  background-color: #333CE9;
}
.ant-btn-primary[disabled], 
.ant-btn-primary[disabled]:active, 
.ant-btn-primary[disabled]:focus, 
.ant-btn-primary[disabled]:hover{ 
  background: #D3D5FF;
}
.ant-btn-link{
  padding: 4px 30px 4px 0px;
  color: #484FFF;
}

.ant-btn-ss{
  font-size: 14px;
  font-weight: 400;
  height: 38px;
  border-radius: 5px;
  width: 170px;
}
.ant-btn-s{
  font-size: 16px;
  font-weight: 300;
  height: 51px;
  border-radius: 5px;
  width: 170px;
}
.ant-btn-m{
  font-size: 16px;
  font-weight: 400;
  height: 42px;
  border-radius: 5px;
  width: 220px;
}
.ant-btn-l{
  font-size: 18px;
  font-weight: 500;
  height: 51px;
  box-shadow: 0px 10px 20px 0px #B7C2FF;
  border-radius: 26px;
}